__pycache__/

.ipynb_checkpoints/

ud036_StarterCode/

client_secret.json

*.ipynb

*.txt

*.bak

*.db

# Getting books info
data/book_info.json
get_douban_books_info.py
get_html.py
get_pdf.py
pylibgen.py
